.Product {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Product-img {
    max-width: 300px;
    max-height: 600px;
}

.Product-btn-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}